<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom de la capacité"/></h1>
    </header>
    <div class="sheet-content">
        <div class="form-group">
            <label>Score (Valeur)</label>
            <input type="number" name="system.valeur" value="{{system.valeur}}" min="1" max="15"/>
        </div>
        <div class="form-group">
            <label>Attribut Lié</label>
            <select name="system.attributLie">
                <option value="caractere" {{#if (eq system.attributLie "caractere")}}selected{{/if}}>Caractère</option>
                <option value="discernement" {{#if (eq system.attributLie "discernement")}}selected{{/if}}>Discernement</option>
                <option value="maitrise" {{#if (eq system.attributLie "maitrise")}}selected{{/if}}>Maîtrise</option>
                <option value="prestance" {{#if (eq system.attributLie "prestance")}}selected{{/if}}>Prestance</option>
                <option value="robustesse" {{#if (eq system.attributLie "robustesse")}}selected{{/if}}>Robustesse</option>
                <option value="vigueur" {{#if (eq system.attributLie "vigueur")}}selected{{/if}}>Vigueur</option>
                <option value="aucun" {{#if (eq system.attributLie "aucun")}}selected{{/if}}>Aucun (ex: Passion)</option>
            </select>
        </div>
        <div class="form-group">
            <label>Capacité Passive (P) ?</label>
            <input type="checkbox" name="system.passif" {{checked system.passif}}/>
        </div>
        <div class="form-group">
            <label>Description & Effets</label>
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
